{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
Projects
{% endblock title %}

{% block breadcrumb %}
  <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#modal1">
    <i class="fa fa-plus"></i>
    Add new project
  </a>
{% endblock breadcrumb %}

{% block content %}
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Project Name</th>
            <th>Mentor Name</th>
            <th>Mentor Id</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for subject in object_list %}
          <tr>
            <td>{{ subject.name }}</td>
            <td>{{ subject.staff }}</td>  <!-- Debug output: check if this resolves to a staff instance -->
            <td>{{ subject.staff.EmpId }}</td>  <!-- Debug output: check if this resolves to the EmpId -->
            <td>
              <a href="{% url 'subject-update' subject.id %}"><i class="fa fa-edit"></i></a>
              <a href="{% url 'subject-delete' subject.id %}"><i class="fa fa-trash-alt"></i></a>
            </td>
          </tr>
        {% endfor %}
        
        </tbody>
      </table>
    </div>
  </div>

  <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form action="{% url 'subject-create' %}" method="POST">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add new subject</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            {% csrf_token %}
            <div class="form-group">
              <label for="id_name">Name:</label>
              <input type="text" class="form-control" id="id_name" name="name" required>
            </div>
            <div class="form-group">
              <label for="id_staff">Staff:</label>
              <select name="staff" class="form-control" id="id_staff">
                <option value="" selected disabled>Select Staff</option>
                {% for staff in staff_list %}
                    <option value="{{ staff.EmpId }}">{{ staff }}</option>
                {% endfor %}
            </select>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
